# Code owners for automatic PR review assignment
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/managing-repository-settings/about-code-owners

# Global owner
* @JaKuba23
